<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUD Demo</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/dorang.css')}}">
    
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{url_for('dashboard') }}" class="nav-link">Dashboard</a></li>
        </ul>
    </nav><!-- end of page navbar -->

    <!-- page header -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">Pleasure in the job puts perfection in the work</h1>
            <p class="header-subtitle">~ Aristotle ~</p>

            <a href="{{url_for('dashboard') }}" class="nav-link"><button class="btn btn-theme-color">Continue</button>
            </a>
        </div>
    </header><!-- end of page header -->

    <!-- core  -->
    <script type="text/javascript" src="{{url_for('static', filename = 'vendors/jquery/jquery-3.4.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'vendors/bootstrap/bootstrap.bundle.js')}}"></script>
    
    <!-- bootstrap affix -->
    <script type="text/javascript" src="{{url_for('static', filename = 'vendors/bootstrap/bootstrap.affix.js')}}"></script>

    <!-- Dorang js -->
    <script type="text/javascript" src="{{url_for('static', filename = 'js/dorang.js')}}"></script>
    
</body>
</html>
